@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");
* {
  margin: 0%;
  padding: 0%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

.wil {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 100px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wil h1 {
  text-align: center;
  font-size: 35px;
  color: #F677F7;
  margin-bottom: 20px;
}

.wil .wilayas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  gap: 15px;
}

.wil .wilayas .wilaya {
  width: 250px;
  height: 350px;
  border-radius: 15px;
  -webkit-box-shadow: 5px 5px 5px #F677F7;
          box-shadow: 5px 5px 5px #F677F7;
  margin: 0 20px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.wil .wilayas .wilaya img {
  width: 250px;
  height: 310px;
  border-radius: 15px 15px 0 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -o-object-fit: cover;
     object-fit: cover;
}

.wil .wilayas .wilaya p {
  font-size: 20px;
  color: #610d61;
  text-align: center;
}

.wil .wilayas .wilaya a {
  text-decoration: none;
  font-size: 15px;
  color: white;
  background: #881088;
  padding: 4px;
  border-radius: 5px;
  display: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  margin-top: 15px;
}

.wil .wilayas .wilaya .table {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  display: none;
  width: 100%;
  position: absolute;
  bottom: -50px;
  -webkit-transition: bottom 1s;
  transition: bottom 1s;
  border-radius: 15px;
  overflow: hidden;
}

.wil .wilayas .wilaya .table .code {
  border: 1px solid #F677F7;
  width: 33.33%;
  background: #881088;
}

.wil .wilayas .wilaya .table .code p {
  font-size: 10px;
  color: white;
}

.wil .wilayas .wilaya .table .code h1 {
  font-size: 20px;
}

.wil .wilayas .wilaya:hover img {
  height: 200px;
}

.wil .wilayas .wilaya:hover a {
  display: block;
}

.wil .wilayas .wilaya:hover .table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  bottom: 0px;
}

.wil .btn {
  width: 250px;
  height: 50px;
  margin: 20px auto;
  text-transform: uppercase;
  font-size: 20px;
  color: white;
  background: #881088;
  border: 2px solid #501150;
  outline: none;
  cursor: pointer;
  border-radius: 15px;
}
/*# sourceMappingURL=wilaya.css.map */